* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto Mono', monospace;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.header--list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 300px;
}
a {
    text-decoration: none;
    color: gold;
}
.header--img {
    width: 85px;
}
.header--list li a:hover {
    color: red;
}
.main-img--perfil {
    padding: 15px;
}
.main-img--perfil img {
    width: 200px;
    padding: 10px;
}

#About {
    display: flex;
    width: 75%;
    margin: 20px auto;
    justify-content: space-between;
}
.main-about--info {
    padding-top: 35px;
}
.main-about--social-media ul li  {
    list-style: none;
}

.main-about--info .main-about--info--title {
    font-size: 20px;
}
.main-about--info .main-about--info--text {
    font-size: 10px;
    padding: 10px 0;
}
.main-about--info .main-about--social-media h3 {
    padding: 10px 0;

}


#Proyects {
    width: 80%;
    height: auto;
    margin: 20px auto;
}
.proyect--title {
    padding: 10px 0;
}
.proyect-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.proyect--articles {
    width: 170px;
    height: 150px;
    border-radius: 5px ;
    background-color: yellow;
}
.proyect-item--img {
    width: 100%;
    height: 100px;
}
.proyect-item--img img {
    width: 154px;
    height: 100px;
    background-repeat:no-repeat ;
    background-size: cover;
    margin: 8px 8px;
    border-radius: 8px;
}
.proyect-item--info {
    width: 100px;
    height: 30px;
    margin: 10px 8px;
}